/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* {
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
}

html {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

body {
    width: 100%;
    background-color: #000;    
    background-image: url(../img/main-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

a {
    color: #E3E3E3;
}

a:hover, a:focus {
    text-decoration: none;
    color: #11505d;
}

.container {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba( 230, 230, 230, 0.2 );
}

div#tabs ul {
    margin: 0em 0px;
}

div#tabContent {
    padding-left: 10px;
    padding-right: 10px;
}

.well {
    margin-bottom: 10px;
    background-color: rgba( 245, 245, 245, 0.2 );
    border: rgba( 227, 227, 227, 0.2 );
}

div#fineprint {
    color: rgb( 160, 160, 160 );
}

/* Extra Small Devices, Phones */
@media(max-width: 767px) {
    .container {
        width: 100%;
    }

    div#tabs {
        text-align: center;
    }
}

/* Small Devices, Tablets */
@media(min-width: 768px) {
    .container {
        width: 100%;
    }

    div#tabs {
        text-align: center;
    }
}

/* Medium Devices, Desktops */
@media(min-width: 992px) {
    .container {
        width: 100%;
    }

    div#tabs {
        text-align: center;
    }
}

/* Large Devices, Desktops */
@media(min-width: 1200px) {
    div {
        height: 100%;
    }

    .container {
        width: 1170px;
        height: 630px;
    }

    div#visualizations {
        height: 300px;
    }

    div#interactions {
        height: 300px;
    }

    div#tabs {
        text-align: left;
    }
    
    div#tabContent {
        overflow-y: scroll;
    }
}














